
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panneau de configuration</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/adm.css">

</head>
<body>
    <header>
        <h1><a href ="index.php">Accueil</a></h1>
        <h4> <?php echo $_SESSION['login']; ?></h4>
    </header>

    <div id="main">
        <div id="lside">
          <aside>
              <h4>Panneau utilisateur</h4>
              <ul>
                  <li><a href="listecommandes.php">Gestionnaire des commandes</a></li>
                  <li><a href="information.php">Gestionnaire des informations</a></li>
                  <li><a href="address.php">Adresse</a></li>
                  <li><a href="modify.php">Modifier le mot de passe</a></li>
                  <li><a href="logout.php">Se déconnecter</a></li>
              </ul>
          </aside>
          <aside id="admin" style="display: none">
              <input type="text" id="typeuser" value="<?php echo $admin; ?>" style="display: none">
              <h4>Adminstration</h4>
              <ul>
                 <li><a href="listuser.php">Gestionnaire des utilisateurs</a></li>
              </ul>
              <ul>
                 <li><a href="listpromotion.php">Gestionnaire des promotions</a></li>
              </ul>
              <ul>
                 <li><a href="listproduit.php">Liste des produits disponibles</a></li>
              </ul>

          </aside>

          <aside id="vendeur" style="display: none">
              <input type="text" id="isvendeur" value="<?php echo $vendeur; ?>" style="display: none">
              <h4>Vendeur</h4>
              <ul>
                 <li><a href="listannonce.php">Gestion des annonces</a></li>
              </ul>
               <ul>
                 <li><a href="listsoldes.php">Produits vendus</a></li>
              </ul>
              <ul>
                 <li><a href="gestionlivre.php">Commandes Nouvelles</a></li>
              </ul>
              <ul>
                 <li><a href="commanderecu.php">Commandes recus</a></li>
              </ul>
          </aside>

        </div>

        <div id="rside">
             <?php if ($row != NULL) {?>
            <table  class="table">
                Liste des commandes à traiter :
                <tr>
                    <td>Ref Produit</td>
                    <td>Ref annonce</td>
                    <td>Num commande</td>
                    <td>Quantite</td>
                    <td>Date commande</td>
                    <td>acheteur</td>
                </tr>

                 <?php foreach ($row as $value) {?>
                <tr>
                   <td><?php echo $value['ref_produit']; ?></td>
                   <td><?php echo $value['ref_annonce']; ?></td>
                   <td><?php echo $value['num_commande']; ?></td>
                   <td><?php echo $value['quantite']; ?></td>
                   <td><?php echo $value['date_commande']; ?></td>
                   <td><?php echo $value['login']; ?></td>
                   <td><?php echo $value['statut_commande']; ?></td>
                </tr>
                <?php }?>
            </table>
            <div id="pagebar">
                <!-- Pages:&nbsp;
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a> -->
            </div>
              <?php } else {?>
                  <p id = "aucunprod">  <?php echo
                          "Vous n'avez  aucun commandes pour l'instant"; ?></p>
                <?php }?>

        </div>
    </div>
      <?if (isset($_GET['result'])){ ?>
        <div class="alert alert-info" role="alert">

            <? echo "information :" . $_GET['result']; } ?>
        </div>


    <footer>
        Copyright &copy; 2018 · LI Huichuan  · Vladi Mur· Ma Nar

    </footer>
</body>
<script type="text/javascript" src = "./script/homepage.js"></script>
</html>
