<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier mot de passe</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/art.css">
    <style>
    form {
    width:30%;
    margin:0 auto;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
    <header>
        <a href="index.php"><h1>Accueil</h1></a>
    </header>
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="#" method="post">
                <p>
                Votre login : <input placeholder="login" name="login" type="text" value="<?php echo $_SESSION['login'];?>" size="30"  readonly="readonly">
                </p>

                <p>
                Votre nom : <input placeholder="nom" name="nom" type="text" value="<?php echo $value['nom'];?>" size="30" >
                </p>
                Votre prenom : <input placeholder="prenom" name="prenom" type="text" value="<?php echo $value['prénom'];?>" size="30" >
                </p>
                <p>
                Votre mail : <input placeholder="mail" name="mail" type="text" value="<?php echo $value['mail'];?>" size="30" readonly="readonly">
                </p>
                <p>
                Password : <input placeholder="password" name="password1" type="password" value="<?php echo $value['mdp'];?>" size="30">
                </p>
                <input id="usertype" value="<?php echo $value['typeuser'];?>" style="display: none;">

                Type of user :
                <select name="typeuser"  id="typeuser" class="form-control" onchange="getval(this);" disabled="disabled">
                  <option value="admin" >admin</option>
                  <option value="vendeur">vendeur</option>
                  <option value="acheteur" selected="selected">acheteur</option>
                </select>

                <div id="vendeur" style="display: none">
                    <p>
                    Description : <textarea class="form-control" name="description" rows="3"  ><?php echo $value['description'];?></textarea>
                    </p>
                    <p>
                    Siret(14) : <input placeholder="siret" name="siret" type="text" value="<?php echo $value['siret'];?>" size="30" maxlength="14">
                    </p>
                    Nom magasin : <input placeholder="magasin" name="magasin" type="text" value="<?php echo $value['nom_magasin'];?>" size="30">
                    </p>
                </div>





                <input type="submit" value="submit">
                <a class="btn btn-primary" href="homepage.php" role="button">return</a>
                <?if (isset($_GET['result'])){ ?>
                <div class="alert alert-info" role="alert">
                  information :
                    <?echo $_GET['result']; }?>
                </div>



            </p>
            </form>
        </div>
    </div>
    <footer>
        Copyright &copy; 2018 · LI Huichuan  · Vladi Mur· Ma Nar

    </footer>

</body>

  <script type="text/javascript" src = "./script/modifieruser.js"></script>
</html>
