<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/adm.css">
</head>
<body>
    <header>
        <a href="homepage.php"><h1>Accueil</h1></a>
        <h4> <?php echo $_SESSION['login'];?></h1>
    </header>

    <div id="main">
        <div id="lside">
          <aside>
              <h4>Panneau de configuration</h4>
              <ul>
                  <li><a href="information.php">Gestionnaire des informations</a></li>
                  <li><a href="address.php">Adresse</a></li>
                  <li><a href="modify.php">Modifier le mot de passe</a></li>
                  <li><a href="logout.php">Se déconnecter</a></li>
              </ul>
          </aside>
          <aside id="admin" style="display: none">
              <input type="text" id="typeuser" value="<?php echo $admin;?>" style="display: none">
              <h4>Adminstration</h4>
              <ul>
                 <li><a href="listuser.php">Gestionnaire des utilisateurs</a></li>
              </ul>
               <ul>
                 <li><a href="listpromotion.php">Gestionnaire des promotions</a></li>
              </ul>
              <ul>
                 <li><a href="listproduit.php">Liste des produits disponibles</a></li>
              </ul>

          </aside>
          <aside id="vendeur" style="display: none">
              <input type="text" id="isvendeur" value="<?php echo $vendeur;?>" style="display: none">
              <h4>Vendeur</h4>
              <ul>
                 <li><a href="listannonce.php">Gestionnaire des annonces</a></li>
              </ul>
               <ul>
                 <li><a href="listsoldes.php">Liste des produits vendus</a></li>
              </ul>
          </aside>


        </div>



        <div id="rside">
           <table  class="table">
                <tr>
                    <td>ref produit</td>
                    <td>nom produit</td>
                    <td>description</td>
                    <td>etat produit</td>
                    <td>categorie produit</td>
                    <td>marque</td>
                    <td>prix</td>
                    <td>nom promo</td>
                    <td>url photo</td>
                </tr>
                 <?php foreach($row as $value) {?>
                <tr>
                   <td><?php echo $value['ref_produit'];?></td>
                   <td><?php echo $value['nom_produit'];?></td>
                   <td><?php echo $value['description'];?></td>
                   <td><?php echo $value['etat_produit'];?></td>
                   <td><?php echo $value['categorie_produit'];?></td>
                   <td><?php echo $value['marque'];?></td>
                   <td><?php echo $value['prix'];?></td>
                   <td><?php echo $value['nom_promo'];?></td>
                   <td><?php echo $value['url_photo'];?></td>
                    <td>
                        <form action="modifyproduit.php" method="post" id="delete<?php echo $value['ref_produit'];?>">
                          <input type="text" name="ref_produit" value="<?php echo $value['ref_produit'];?>"  style="display: none"></input>
                          <input class="btn btn-primary" type="submit" value="modifier">
                        </form>
                    </td>
                </tr>
                <?php }?>
            </table>

            <? if (isset($_GET['result'])){   ?>
                <div class="alert alert-info" role="alert">
                  ERROR :
                            <? echo $_GET['result']; } ?>

                </div>

            <div id="pagebar">
                <!-- Pages:&nbsp;
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                4
                <a href="#">5</a>
                <a href="#">6</a> -->
            </div>
        </div>
    </div>
    <footer>
        Copyright &copy; 2018 · LI Huichuan  · Vladi Mur· Ma Nar

    </footer>
</body>
<script type="text/javascript" src = "./script/homepage.js"></script>
</html>
