<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet de Na18</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <header>
      <h1>Projet de Na18</h1>
      
  </header>
    <nav>
        <ul>
            <li><a href="log.php">gestion compte</a></li>
        </ul>
    </nav>
    <div id="main">
       
        <div id="rside">
            <aside>
                <form action="">
                    <input type="text" name="search" placeholder="Search...">
                </form>
            </aside>
            <aside>
                <h4>Categorie</h4>
                <ul>
                   
                </ul>
            </aside>
        </div>
    </div>
    <footer>
        Copyright &copy; 2018 · GeneratePress · WordPress
    </footer>
</body>
</html>
