<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Projet de Na18</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css"></head>

  <body>
    <header>
      <h1>Marketplace</h1></header>
    <nav>
      <ul>
        <li>
          <a href="log.php">Se connecter</a></li>

            <a href="http://localhost/~Vladimir/projet/deco.php">
              <li>Déco</li></a>
            <a href="http://localhost/~Vladimir/projet/mobilier.php">
              <li>Mobilier</li></a>
            <a href="http://localhost/~Vladimir/projet/loisir.php">
              <li>Loisir</li></a>
            <a href="http://localhost/~Vladimir/projet/creation.php">
              <li>Création</li></a>
            <a href="http://localhost/~Vladimir/projet/librairie.php">
              <li>Librairie</li></a>
            <a href="http://localhost/~Vladimir/projet/mode.php">
              <li>Mode</li></a>
            <a href="http://localhost/~Vladimir/projet/high-tech.php">
              <li>High-Tech</li></a>
        
      </ul>
    </nav>
    <div id="main">
        <div id="lside">
      <table  class="table">
         <thead>
        <tr>
          <td>Référence</td>
          <td>Nom</td>
          <td>Description</td>
          <td>État</td>
          <td>Catégorie</td>
          <td>Prix</td>
          <td>Marque</td></tr>
      </thead>
        <?php foreach($row as $value) {?>
          <tr>
            <td>
              <?php echo $value[ 'ref_produit'];?></td>
            <td>
              <?php echo $value[ 'nom_produit'];?></td>
            <td>
              <?php echo $value[ 'description'];?></td>
            <td>
              <?php echo $value[ 'etat_produit'];?></td>
            <td>
              <?php echo $value[ 'categorie_produit'];?></td>
              <td>
                <?php echo $value[ 'prix'];?></td>
            <td>
              <?php echo $value[ 'marque'];?></td>
          </tr>
          <?php }?></table>
        </div>
      <div id="rside">
        <aside>
          <form action="">
            <input type="text" name="search" placeholder="Search..."></form>
        </aside>
        <aside>
          <h4>Categorie</h4>
          <ul>
            <a href="http://localhost/~Vladimir/projet/deco.php">
              <li>Déco</li></a>
            <a href="http://localhost/~Vladimir/projet/mobilier.php">
              <li>Mobilier</li></a>
            <a href="http://localhost/~Vladimir/projet/loisir.php">
              <li>Loisir</li></a>
            <a href="http://localhost/~Vladimir/projet/creation.php">
              <li>Création</li></a>
            <a href="http://localhost/~Vladimir/projet/librairie.php">
              <li>Librairie</li></a>
            <a href="http://localhost/~Vladimir/projet/mode.php">
              <li>Mode</li></a>
            <a href="http://localhost/~Vladimir/projet/high-tech.php">
              <li>High-Tech</li></a>
          </ul>
        </aside>
      </div>
    </div>
    <footer>Copyright &copy; 2018 · GeneratePress · WordPress</footer></body>

</html>
