<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier mot de passe</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/art.css">
    <style>
    form {
    width:30%;
    margin:0 auto;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src = "./script/modifier.js"></script>
</head>
<body>
    <header>
        <h1>Backend</h1>
        <h4>Modifify your password</h4>
    </header>
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="#" method="post">
                <p>
                Your login : <input placeholder="name" name="login" type="text" value="<?php echo $_SESSION['login'];?>" size="30"readonly="readonly">
                </p>
                <p>
                New password : <input placeholder="password" name="password1" type="password" value="" size="30">
                </p>
                Confirm new password : <input placeholder="password" name="password2" type="password" value="" size="30">
                </p>
                <input type="submit" value="submit">
                <a class="btn btn-primary" href="homepage.php" role="button">return</a>
            </p>
            </form>
        </div>
    </div>
    <footer>
        Copyright &copy; 2018 · GeneratePress · WordPress
    </footer>
</body>
</html>
